@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

body {
	margin: 0;
	background: white;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.navbar {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #000000;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: white;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: white;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
.productblok{
    color: black;
    background-color: white;
    float: left;
    width: 18%;
    padding: 1%;
    height: 550px;
    margin: 6.66%;
    font-family: 'Work Sans', sans-serif;
    transition: 0.5s all ease;
    transition-delay: 0.1s;
    min-width: 320px;
} 

.productblok:hover{
  color: black;
  background-color: #d1d1d1;
  float: left;
  width: 18%;
  padding: 2%;
  height: 550px;
  margin: 5.66%;
  min-width: 320px;
  border-radius: 15px;
}     


.image{
  width: 88%;
  margin: 6%;
}

.Contact{
  background-color:#0a0a0a;
  width: 90%;
  margin: 5%;
  color: white;
  text-align: center;
  position: absolute;
  border-radius: 15px;
  float: left;
}

.Bericht{
  width: 60%;
  height: 650px;
  box-sizing: border-box;
  padding: 40px;
  float: left;
  max-width: 2000px;
}

.poi{
  text-align: center;
  letter-spacing: 1px;  
  font-size: 45px;
  margin-bottom: 20px;
  color: white;
}

.input,
.msg .area{
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 25px;
  border: 2px solid #e9eaea;
  font-size: 14px;
  border-radius: 5px;
  outline: none;
  transform: all 0.5s ease;
}

.login .input{
  width: 48%;
  float: left;
  margin-right: 4%;
}

.login .input:last-child{
  margin-right: 0;
}

.msg .area{
  height: 200px;
}

.btn{
  width: 250px;
  background: #006b38FF;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 5px;
  margin: 0 auto;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 50px;
}

.input:focus,
.msg .area:focus{
  border: 2px solid #006b38FF;
}

::-webkit-input-placeholder{
  font-family: 'roboto';
}

.informatie{
  width: 30%;
  float: left;
  padding: 5%;
}

.linkje{
  text-decoration: none;
  color: white;
}

.informatieblok{
  float:left;
  width: 40%;
  text-align: center;
  padding: 5%;
  color
}
.fotoblok{
  float: left;
  width: 50%;
  margin: %;
}
.fotoentekst{
  width: 100%;
  float: left;
  background-color: #f2f1f4;
}

.informatieblokh1{
  color: #323036;
}

.informatieblokp{
  color: #81859f;
}

.knop{
  background-color: #006b38FF;
  color: white;
  width: 50%;
  text-decoration: none;
}

a{
  text-decoration: none;
  color: #0a0a0a;
}
.h2a{
  color: #006b38FF;
}
i{
  color:#006b38FF;
}

.highlight, .highlight_stay{
  color:red;
}

.product{
  float: left;
}
.infofoto{
  float: left;
  width: 80%;
  margin: 10%;
  margin-bottom: 5%;
  margin-top: 50px;
  border-top: 1px;
}

.productfoto{
  width: 46%;
  margin: 2%;
  float: left;
}
.productinfo{
  width: 46%;
  margin: 2%;
  float: left;
  border: 5px;
  border: black;
}

.productfoto1{
  width: 100%;
}

.winkelwagenknop{
  width: 40%;
  font-size: large;
  padding: 10px;
  background-color: #006b38FF;
  border: #006b38FF;
  color: white;
  border-radius: 5px;
}

.optie{
  float: left;
  width: 80%;
  margin: 10%;
  margin-bottom: 5%;
  margin-top: 50px;
  border-top: 1px;
}
.opties{
  width: 100%;
  margin-bottom: 30px;
}
.optieknop{
  float: left;
  width: 80%;
  border: black;
  border-style: solid;
  border: 2px;
  text-align: left;
  align-items: left;
}
.imgoptie{
  width: 5%;
}

